VITE_UPI_ID=your-upi-id@upi
VITE_UPI_NAME=Svarnikaa
VITE_GOOGLE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vTfSPkVApqhIMHfrGEaCr-Rg7IOSjjrdAbynlIo7FIpLXdlyDIpdQxZlup0Y2tvBw51OyjQBjJP2NAR/pub?gid=0&single=true&output=csv
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyX0ToNJfRi6xq5tm4lXyEuIHYy9SU1chUp_geFH-XTrjTUVNoYsjJ_hD8DVkyzJMW0/exec
VITE_ADMIN_PIN=change-this-pin
