VITE_UPI_ID=your-upi-id@upi
VITE_UPI_NAME=Svarnikaa
VITE_GOOGLE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vTfSPkVApqhIMHfrGEaCr-Rg7IOSjjrdAbynlIo7FIpLXdlyDIpdQxZlup0Y2tvBw51OyjQBjJP2NAR/pub?gid=0&single=true&output=csv
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxx1thOFk2fqXRzJFZNSALaLDLir-Ub69lqHb9jlBdOf4GaBSuHiCR7tmMNfGJcwm0/exec
VITE_ADMIN_PIN=change-this-pin
